@charset "UTF-8";
/*CSS 初期化*/
*{
    margin: 0;
    padding: 0;
}
/*全体*/
body{
    background-image: url(../img/background.png);
    background-size: auto;
    background-repeat: repeat;
    margin: 0;
}
header{
  padding: 10px;
  background-color: rgb(84, 143, 211);
}
h1{
  font-size: 50px;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 10px;
  background-color: rgba(0, 238, 255, 0.90);
  width: 350px;
  margin: auto;
  border-radius: 30px;
}
#home{
  float: left;
  font-size: 50px;
  border-radius: 30px;
  background-color: rgba(0, 238, 255, 0.90);
  padding: 10px;
  text-decoration: none;
  color: white;
}
/*マッチ結果*/
table{
  font-size: 50px;
  margin: 2% auto;
  border-collapse: collapse;
  border: solid 5px rgba(0, 192, 206, 0.9);
}

*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
table th{
  padding: 30px;
  color: black;
  background-color: rgba(0, 238, 255,0.9);
  border: solid 5px rgba(0, 192, 206, 0.9);
}
table td{
  text-align: center;
  padding: 10px;
  color: white;
  background-color: lightblue;
  border: dashed 3px rgba(0, 192, 206, 0.9);
}
table td button{
  margin:auto;
  border-radius: 15px;
  font-size: 30px;
  text-align: center;
  cursor: pointer;
  padding: 10px;
  background:blue;
  color: white;
  display: inline-block;
  border:blue;
}