@charset "UTF-8";
/*CSS 初期化*/
*{
    margin: 0;
    padding: 0;
}
/*全体*/
body{
    background-image: url(../img/background.png);
    background-size: auto;
    background-repeat: repeat;
    }
/*h1*/
h1{
    font-size: 50px;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px;
    background-color: rgba(0, 238, 255, 0.70);
    width: 250px;
    margin: auto;
    border-radius: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}
/* === ボタンを表示するエリア ============================== */
.switchArea {
    line-height    : 60px;                /* 1行の高さ          */
    letter-spacing : 0;                   /* 文字間             */
    text-align     : center;              /* 文字位置は中央     */
    font-size      : 27px;                /* 文字サイズ         */
  
    position       : relative;            /* 親要素が基点       */
    margin         : auto;                /* 中央寄せ           */
    width          : 217px;               /* ボタンの横幅       */
    background     : #fff;                /* デフォルト背景色   */
}
  
   /* === チェックボックス ==================================== */
  .switchArea input[type="checkbox"] {
    display        : none;            /* チェックボックス非表示 */
}
  
   /* === チェックボックスのラベル（標準） ==================== */
  .switchArea label {
    display        : block;               /* ボックス要素に変更 */
    box-sizing     : border-box;          /* 枠線を含んだサイズ */
    height         : 60px;                /* ボタンの高さ       */
    border         : 2px solid #ff0000;   /* 未選択タブのの枠線 */
    border-radius  : 30px;                /* 角丸               */
}
  
   /* === チェックボックスのラベル（ONのとき） ================ */
  .switchArea input[type="checkbox"]:checked +label {
    border-color   : #00ff00;             /* 選択タブの枠線     */
}
  
   /* === 表示する文字（標準） ================================ */
  .switchArea label span:after{
    content        : "LOGOUT";               /* 表示する文字       */
    padding        : 0 0 0 36px;          /* 表示する位置       */
    color          : #ff0000;             /* 文字色             */
}
  
   /* === 表示する文字（ONのとき） ============================ */
  .switchArea  input[type="checkbox"]:checked + label span:after{
    content        : "LOGIN";                /* 表示する文字       */
    padding        : 0 36px 0 0;          /* 表示する位置       */
    color          : #00ff00;             /* 文字色             */
}
  
   /* === 丸部分のSTYLE（標準） =============================== */
  .switchArea #swImg {
    position       : absolute;            /* 親要素からの相対位置*/
    width          : 52px;                /* 丸の横幅           */
    height         : 52px;                /* 丸の高さ           */
    background     : #ff0000;             /* カーソルタブの背景 */
    top            : 4px;                 /* 親要素からの位置   */
    left           : 4px;                 /* 親要素からの位置   */
    border-radius  : 26px;                /* 角丸               */
    transition     : .2s;                 /* 滑らか変化         */
}
  
   /* === 丸部分のSTYLE（ONのとき） =========================== */
  .switchArea input[type="checkbox"]:checked ~ #swImg {
    transform      : translateX(157px);    /* 丸も右へ移動       */
    background     : #00ff00;             /* カーソルタブの背景 */
}
  p{
    font-size: 20px;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    width: 150px;
    margin: auto;
    border-radius: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}
a{
  text-decoration: underline;
  color:black;
}
 *,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

  .btn,
  .button.btn{
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

.btn-flat {
  overflow: hidden;

  padding: 1.5rem 6rem;

  color: #fff;
  border-radius: 0;
  background: #000;
}

.btn-flat span {
  position: relative;
}

.btn-flat:before {
  position: absolute;
  top: 0;
  left: 0;

  width: 150%;
  height: 500%;

  content: "";
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  transform: translateX(-98%) translateY(-25%) rotate(45deg);

  background: #00b7ee;
}

.btn-flat:hover:before {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}
table{
  font-size: 50px;
  margin: 1% auto;
}
.flex{
  margin: 0 25vw;
}