@charset "UTF-8";
/*CSS 初期化*/
*{
    margin: 0;
    padding: 0;
}
/*全体*/
body{
background-image: url(../img/background.png);
background-size: auto;
background-repeat: repeat;
}
form{
    background-color:rgba(0, 238, 255, 0.60);
    width: 400px;
    height: 500px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    margin: auto;
    border-radius: 40px;
}
form h1{
    font-size: 50px;
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 60px;
}
form div{
    font-size: 25px;
    color: white;
    text-align: center;
    padding: 5px;
}
#username,#password{
width: 220px;
height: 30px;
border-radius: 10px;
border: none;
background-color: rgba(255, 255, 255, 0.80.6);
margin-left: 90px;
}
#login{
margin-top: 30px;
margin-left: 145px;
display: inline-block;
border-radius: 15px;
font-size: 40px;
text-align: center;
cursor: pointer;
padding: 15px;
background:blue;
color: white;
border:blue;
}
#login:hover{
background:white;
color: blue;
border: white;
}
p{
    color: white;
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
}