@charset "UTF-8";
/*CSS 初期化*/
*{
    padding: 0;
}
/*全体*/
body{
    background-image: url(../img/background.png);
    background-size: auto;
    background-repeat: repeat;
    margin: 0;
    }
form div{
        font-size:30px;
        color: white;
        text-align: center;
        padding: 5px;
    }
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
/*中央寄せ*/
.center{
    margin:0 auto;
    text-align:center;
}
header{
    padding: 10px;
    background-color: rgb(84, 143, 211);
}
#home{
    float: left;
    font-size: 50px;
    border-radius: 30px;
    background-color: rgba(0, 238, 255, 0.9);
    padding: 10px;
    text-decoration: none;
    color: white;
}
/*文字の大きさ*/
h1{
    font-size: 50px;
    color: white;
    padding: 10px;
    background-color: rgba(0, 238, 255, 0.9);
    width: 310px;
    margin: auto;
    border-radius: 30px;
    margin-top: 50px;
    margin-bottom: 10px;
}
#match{
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}
form{
    background-color:rgba(0, 238, 255, 0.7);
    width: 400px;
    height: 500px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 40px;
}

#matchname,#date,#time,#place,#password{
    width: 220px;
    height: 30px;
    border-radius: 10px;
    border: none;
    background-color: rgba(255, 255, 255, 1);

    }
#submit{
        margin-top: 20px;
        border-radius: 15px;
        font-size: 30px;
        text-align: center;
        cursor: pointer;
        padding: 10px;
        background:rgba(0, 0, 255, 0.7);
        color: white;
        display: inline-block;
        border:rgba(0, 0, 255, 0.7);
        }
#ratematch{
    padding: 10px;
    margin:15px;
    transform:scale(2.0);
}

.back{
    text-decoration:underline;
    text-decoration-color:#60e46b;

}