@charset "UTF-8";
/*CSS 初期化*/
*{
    margin: 0;
    padding: 0;
}
/*全体*/
body{
    background-image: url(../img/background.png);
    background-size: auto;
    background-repeat: repeat;
    }
/*マッチ結果*/
table{
        font-size: 50px;
        margin: 1% auto;
      }

*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}