@charset "UTF-8";
/*CSS 初期化*/
*{
    padding: 0;
}
/*全体*/
body{
    background-image: url(../img/background.png);
    background-size: auto;
    background-repeat: repeat;
    }

*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
/*中央寄せ*/
.center{
    margin:0 auto;
    text-align:center;
}
/*文字の大きさ*/
h1{
    font-size: 50px;
    color: rgb(0, 0, 0);
    padding: 10px;
    background-color: rgba(0, 238, 255, 0.70);
    width: 310px;
    margin: auto;
    border-radius: 30px;
    margin-top: 50px;
    margin-bottom: 10px;
}
#match{
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}