@charset "UTF-8";
/*CSS 初期化*/
*{
    margin: 0;
    padding: 0;
}
/*全体*/
body{
    background-image: url(../img/background.png);
    background-size: auto;
    background-repeat: repeat;
    }
/*マッチ結果*/
table{
        font-size: 50px;
        margin: 2% auto;
        border-collapse: collapse;
        border: solid 5px rgba(0, 192, 206, 0.9);
      }
h1{
    text-align: center;
    margin-top: 20px;
}
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
table th{
  padding: 30px;
  color: black;
  background-color: rgba(0, 238, 255,0.9);
  border: solid 5px rgba(0, 192, 206, 0.9);
}
table td{
  text-align: center;
  padding: 10px;
  color: white;
  background-color: lightblue;
  border: dashed 3px rgba(0, 192, 206, 0.9);
}