@charset "UTF-8";
/*CSS 初期化*/
*{
    margin: 0;
    padding: 0;
}
/*全体*/
body{
    background-image: url(../img/background.png);
    background-size: auto;
    background-repeat: repeat;
    min-height: 100vh;
    margin: 0;
}
header{
    padding: 10px;
    background-color: rgb(84, 143, 211);
    margin-bottom: 10px;
  }
#home{
    float: left;
    font-size: 50px;
    border-radius: 30px;
    background-color: rgba(0, 238, 255, 0.90);
    padding: 10px;
    text-decoration: none;
    color: white;
}
h1{
    font-size: 50px;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px;
    background-color: rgba(0, 238, 255, 0.90);
    width: 250px;
    margin: auto;
    border-radius: 30px;
}
div{
    margin: auto;
    text-align: center;
    font-size: 30px;
    color: rgb(255, 255, 255);
    padding: 10px;
}
main{
    margin: 0 auto;
    width: 50%;
    background-color:lightblue;
    border-radius: 20%;
}
#sportslist {
    font-size: 30px;
	overflow: hidden;
    height: 50px;
	width: 300px;
	margin: 30px 25%;
	text-align: center;
}
#sportslist select {
	width: 100%;
	padding-right: 1em;
	cursor: pointer;
	text-indent: 0.01px;
	text-overflow: ellipsis;
	border: none;
	outline: none;
	background: transparent;
	background-image: none;
	box-shadow: none;
	-webkit-appearance: none;
	appearance: none;
}
#sportslist select::-ms-expand {
    display: none;
}
#sportslist{
	position: relative;
	border-radius: 2px;
	border: 2px solid #da3c41;
  border-radius: 50px;
	background: #ffffff;
}
#sportslist::before {
	position: absolute;
	top: 0.8em;
	right: 0.8em;
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #da3c41;
	pointer-events: none;
}
#sportslist select {
	padding: 8px 38px 8px 8px;
	color: #da3c41;
}
#submit{
    margin: 10px;

    display: inline-block;
    border-radius: 15px;
    font-size: 40px;
    text-align: center;
    cursor: pointer;
    padding: 15px;
    background:rgba(0, 0, 255, 0.8);
    color: white;
    border:rgba(0, 0, 255, 0.8);
    }
    #submit:hover{
    background:white;
    color: blue;
    border: white;
    }